/**
  * ====================================
  * Sets up styles for articles
  * ====================================
  */
article {
  margin-top: 40px;
  margin-bottom: 60px;
}

/* 
====================================
Sets up styles for sidebar / navigation containers
====================================
*/
nav a {
  font-family: 'chaparral-pro-caption', serif;
  font-style: normal;
  font-size: 20px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

a {
  color: rgb(0, 137, 250);
  transition: color 0.25s;
}

a:hover {
  color: rgb(51, 51, 102);
  font-weight: bold;
}

.sidebar-logo {
  background-image: url(file:///Users/gabrielamartinez/Documents/GitHub/NIMH-Styleguide/images/NIMHlogo.jpg);
  width: 300px;
}

.center p {
  text-align: center;
}

/* 
===========================
Sets up styles for logos 
============================
*/

.logopic {
  width: 425px;
  height: 100%;
}

/* 
===========================
Sets up styles for typography 
============================
*/

/* Sets up font-face for body copy */ 
body {
  font-family: 'chaparral-pro-caption', serif;
  color: black;
  line-height: 1.4em;
  font-size: 20px;
}

/* Sets up font-face for headers */ 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Antique-Olive-Bold', arial;
  color: rgb(51, 51, 102);
  line-height: 1em;
}

/* Sets up font-weights for headers */ 
h1 {
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.type-styles {
  margin-top: 40px;
}

.type-faces {
  margin-top: 40px;
}

.type-faces-01 {
  font-family: 'Antique-Olive-Bold', arial;
}

.type-faces-02 {
  font-family: 'Antique-Olive-Bold', arial;
}


/* 
==========================
Sets up styles for colors 
===========================
*/

/* Makes a circle shape to serve a color box */ 

.color-shape {
  display: block;
  text-align: center;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  margin: 0.5em;
  border: 1px solid white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

/* Makes colors */ 
.color-red {
  background: #d84173;
}

.color-orange {
  background: #f36e33;
  opacity: 75%;
}

.color-yellow {
  background: #f6f067; 
}

.color-green {
  background:  #198bb7;
}

.color-blue {
  background: #66d89c;
}

.color-purple {
  background: rgb(51, 51, 102);
}

.color-black {
  background: black;
}

.color-gray {
  background: #f2f2f2;
}

/* 
=========================== 
Sets up styles for button 
============================ 
*/
 
.button button {
  height: 40px;
  width: 120px;
  border-radius: 4px;
  padding: 5px;
  margin: 20px;
  font-family: 'Antique-Olive-Bold', arial;
  font-weight: 600;
}

.button-normal {
  background: #198bb7;
  color: rgb(255, 255, 255);
}

.button-hover {
  background: rgb(51, 51, 102);
  color: #ffffff;
}

.button-pressed,
.button-loading {
  background: rgb(51, 51, 102);
  color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.button-disabled {

}

/* 
==========================
Sets up styles for icons 
===========================
*/

/* TO ADD FONT AWESOME ICONS GO TO THIS LINK AND COPY THE CSS LINK
https://fontawesome.com/how-to-use/on-the-web/setup/getting-started?using=web-fonts-with-css
*/

/* USPS iconography */
.usps-icons i {
  margin-top: 40px;
  font-size: 30px;
  color: rgb(51, 51, 102);
}

.svg-icons img {
  margin-top: 40px;
  width: 100px;
  height: 100px;
}

/* footer iconography */
.social-icons i {
  font-size: 44px;
  color: tomato;
}

.social-icons i:hover {
  color: rgb(0, 204, 255);
}

/* 
===========================
Sets up styles for images 
============================
*/

#Imagery img {
  padding: 10px;
}